@font-face {
    font-family: "PTSans";
    src: url("./fonts/PTSansRegular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "WorkSans";
    src: url("./fonts/WorkSans-Regular.woff") format("woff");
    font-display: swap;
}